* {
    box-sizing: border-box;
}

body {
    background-color:#E6DBD0 ;
    margin: 0;
    padding: 0;
}

.site-navigation, .footer {
    background-color:#754F5B;
    padding: 0.4rem 0;
    text-align: center;
    list-style-type:none;
}

img {
    margin: 2rem;
    height: 100%;
    border-radius: 50%;
}
.nav-li {
    display: inline-block;
    font-weight: 600;
    font-size: 1.5rem;
}

.nav-li a {
    color: #F9E0D9;
}

.footer a, .footer p {
    color: #F9E0D9;
    font-weight: 500;
    font-size: 1.2rem;
}

.about {
    color: rgb(132, 44, 91);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    min-height: 380px;
}

.motto {
    line-height: 3rem;
    min-height: 380px;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 4rem;
    text-align: center;
}

h1 {
    padding: 1.5rem 0;
    color: #754F5B;
    text-align: center;
}

h2 {
    color: #754F5B;
}

h2 p {
    font-size: 1.3rem;
    font-weight: 500;
}

p {
    color :#563A43;
}

.title {
    color: #754F5B;
    font-size: 1.3rem;
    font-weight: 500;
}

section {
    border-top: 3px solid rgba(20, 2, 10, 0.483);
    margin-bottom: 10px;
}

.skill{
    font-weight: 700;
}

aside ul{
    list-style-type:none;
    padding-left: 0;
}
.aside-li a {
    background-color: rgba(117, 79, 91, 0.25);
    color: #60414B;
    width: 100%;
    display: flex;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: left;
    text-decoration: none;
}

.aside-li a:hover {
    font-weight: 900;
}